﻿@model IEnumerable<DsignTest.Models.Post>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="@Url.Content("/Content/showPosts.css")" rel="stylesheet" />
    <title>ShowPosts</title>
    <style>

        button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        button {
            background-color: #008CBA;
        }
    </style>    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content" class="content content-full-width">
                    <!-- begin profile -->
                    <div class="profile">
                        <div class="profile-header">
                            <!-- BEGIN profile-header-cover -->
                            <div class="profile-header-cover"></div>
                            <!-- END profile-header-cover -->
                            <!-- BEGIN profile-header-content -->
                            <div class="profile-header-content">
                                <!-- BEGIN profile-header-img -->
                                <div class="profile-header-img">
                                    <img src="https://png.pngtree.com/png-vector/20220901/ourmid/pngtree-company-employee-avatar-icon-wearing-a-suit-png-image_6133899.png" alt="">
                                </div>
                                <!-- END profile-header-img -->
                                <!-- BEGIN profile-header-info -->
                                <div class="profile-header-info">
                                    <h4 class="m-t-10 m-b-5">@Session["UserName"]</h4>

                                    <p class="m-b-10"></p>
                                </div>
                                <!-- END profile-header-info -->
                            </div>
                            <!-- END profile-header-content -->
                            <!-- BEGIN profile-header-tab -->
                            <ul class="profile-header-tab nav nav-tabs">
                                <li class="nav-item">@Html.ActionLink("My Account", "UserAccount", "Home")</li>
                                <li class="nav-item">@Html.ActionLink("My Posts", "MyPosts", "Posts")</li>
                                <li class="nav-item">@Html.ActionLink("Posts", "ShowPosts", "Posts")</li>
                                <li class="nav-item">@Html.ActionLink("Create New Post", "CreatePosts", "Posts")</li>
                            </ul>
                            <!-- END profile-header-tab -->
                        </div>
                    </div>
                    <!-- end profile -->
                    <!-- begin profile-content -->
                    <div class="profile-content">
                        <!-- begin tab-content -->
                        <div class="tab-content p-0">
                            <!-- begin #profile-post tab -->
                            <div class="tab-pane fade active show" id="profile-post">
                                <!-- begin timeline -->
                                <ul class="timeline">



                                    <!-- begin timeline-time -->
                                    <!-- end timeline-time -->
                                    <!-- begin timeline-icon -->
                                    <!-- end timeline-icon -->
                                    <!-- begin timeline-body -->
                                    <!-- end timeline-body -->

                                    @if (Model != null)
                                    {

                                        foreach (var item in Model)
                                        {


                                            <div class="timeline-body">
                                                <div class="timeline-header">
                                                    <span class="userimage"><img src="https://png.pngtree.com/png-vector/20220901/ourmid/pngtree-company-employee-avatar-icon-wearing-a-suit-png-image_6133899.png" alt=""></span>
                                                    <span class="username"><a href="javascript:;"> @Html.DisplayFor(modelItem => item.User.UserName)</a> <small></small></span>

                                                </div>
                                                <div class="timeline-content">
                                                    <h1>
                                                        @Html.DisplayFor(modelItem => item.Title)
                                                    </h1>
                                                    <h2>
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </h2>
                                                    <p>
                                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                                    </p>
                                                </div>

                                                <div class="timeline-footer">
                                                    @if (item.Comments.Count() > 0)
                                                    {
                                                        @Html.ActionLink("Show Comments", "ShowComments", "Comment", new { id = item.Id }, null)

                                                    }
                                                    else
                                                    {
                                                        <h4>No Comment</h4>
                                                    }

                                                    @Html.ActionLink("Delete", "DeletePost", "Posts", new { id = item.Id }, null)
                                                </div>
                                                <div class="timeline-comment-box">
                                                    <div class="input">
                                                        <form action="">
                                                            <div class="input-group">

                                                                <textarea class="form-control" id="exampleFormControlTextarea1" cols="90" rows="6"></textarea><br />

                                                                <button type="button" class="btn btn-primary">Comment</button>

                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>



                                        }
                                    }


                                </ul>

                                <!-- end timeline -->
                            </div>
                            <!-- end #profile-post tab -->
                        </div>
                        <!-- end tab-content -->
                    </div>
                    <!-- end profile-content -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
